* {
    box-sizing: border-box;
}

h3 {
    color: red;
}

.box {
    width: 20%;    
    display: inline-block;
    height: 300px;
    border: 2px solid green;
    padding: 10px;
 }
 /* On screens that are 992px wide or less, go from four columns to two columns */
 @media screen and (min-width: 601) and (max-width: 1200px) {
     .box {
         width: 90%;
     }
 }

 /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
     .box {
         width: 50%;
     }
 }

 @media screen and (max-width: 900px) and (min-width: 600px) {
    div.example {
        font-size: 50px;
        padding: 50px;
        border: 8px solid black;
        background: yellow;
    }
}